{% comment %}
  Renders a header drawer menu for mobile with flattened subcategories.

  Usage:
  {% render 'header-drawer' %}
  {% endcomment %}


<header-drawer data-breakpoint="{% if section.settings.menu_type_desktop == 'drawer' %}desktop{% else %}tablet{% endif %}">
  <details id="Details-menu-drawer-container" class="menu-drawer-container">
    <summary
      class="header__icon header__icon--menu header__icon--summary link focus-inset"
      aria-label="{{ 'sections.header.menu' | t }}"
    >
      <span>
        {% render 'icon-hamburger' %}
        {% render 'icon-close' %}
      </span>
    </summary>
    <div id="menu-drawer" class="gradient menu-drawer motion-reduce color-{{ section.settings.menu_color_scheme }}">
      <div class="menu-drawer__inner-container">
        <div class="menu-drawer__navigation-container">
          <nav class="menu-drawer__navigation">
            <ul class="menu-drawer__menu has-submenu list-menu" role="list">
              {%- for link in section.settings.menu.links -%}
                <li>
                  {% assign has_submenu = false %}
                  {% assign mega_menu = false %}
                  {% for block in section.blocks %}
                    {% if block.settings.title == link.title %}
                      {% assign mega_menu = true %}
                      {% assign has_submenu = true %}
                    {% endif %}
                  {% endfor %}
                  {% if link.links != blank %}
                    {% assign has_submenu = true %}
                  {% endif %}

                  {% if has_submenu %}
                    <details id="Details-menu-drawer-menu-item-{{ forloop.index }}">
                      <summary
                        id="HeaderDrawer-{{ link.handle }}"
                        class="menu-drawer__menu-item list-menu__item link link--text focus-inset{% if link.child_active %} menu-drawer__menu-item--active{% endif %}"
                      >
                        {{ link.title | escape }}
                        {% render 'icon-caret-bosie' %}
                      </summary>
                      <div
                        id="link-{{ link.handle | escape }}"
                        class="menu-drawer__submenu gradient motion-reduce"
                        tabindex="-1"
                      >
                        <div class="menu-drawer__inner-submenu">
                          <button class="menu-drawer__close-button link link--text focus-inset" aria-expanded="true">
                            {% render 'icon-arrow' %}
                            {{ link.title | escape }}
                          </button>
                          <ul class="menu-drawer__menu list-menu" role="list" tabindex="-1">
                            {% if mega_menu %}
                              {% for block in section.blocks %}
                                {% if block.settings.title == link.title %}
                                  {% for child_link in block.settings.linklist.links -%}
                                    <li>
                                      <h3 class="menu-drawer__sub-heading">{{ child_link.title | escape }}</h3>
                                      <ul class="menu-drawer__sub-menu list-menu" role="list">
                                        {%- for sub_child_link in child_link.links -%}
                                          <li>
                                            <a
                                              id="HeaderDrawer-{{ link.handle }}-{{ child_link.handle }}-{{ sub_child_link.handle }}"
                                              href="{{ sub_child_link.url }}"
                                              class="menu-drawer__menu-item link link--text list-menu__item focus-inset{% if sub_child_link.current %} menu-drawer__menu-item--active{% endif %}"
                                              {% if sub_child_link.current %}
                                                aria-current="page"
                                              {% endif %}
                                            >
                                              {{ sub_child_link.title | escape }}
                                            </a>
                                          </li>
                                        {%- endfor -%}
                                      </ul>
                                    </li>
                                  {% endfor %}
                                {% endif %}
                              {% endfor %}
                            {% else %}
                              {%- for childlink in link.links -%}
                                <li>
                                  <a
                                    id="HeaderDrawer-{{ link.handle }}-{{ childlink.handle }}"
                                    href="{{ childlink.url }}"
                                    class="menu-drawer__menu-item link link--text list-menu__item focus-inset{% if childlink.current %} menu-drawer__menu-item--active{% endif %}"
                                    {% if childlink.current %}
                                      aria-current="page"
                                    {% endif %}
                                  >
                                    {{ childlink.title | escape }}
                                  </a>
                                </li>
                              {%- endfor -%}
                            {% endif %}
                          </ul>
                        </div>
                      </div>
                    </details>
                  {% else %}
                    <a
                      id="HeaderDrawer-{{ link.handle }}"
                      href="{{ link.url }}"
                      class="menu-drawer__menu-item list-menu__item link link--text focus-inset{% if link.current %} menu-drawer__menu-item--active{% endif %}"
                      {% if link.current %}
                        aria-current="page"
                      {% endif %}
                    >
                      {{ link.title | escape }}
                    </a>
                  {% endif %}
                </li>
              {%- endfor -%}
            </ul>
                        <localization-form >
                          {%- form 'localization', id: 'FooterCountryForm', class: 'localization-form' -%}
                          <div class="mobile-localisation-wrapper">
                            {% render 'icon-globe-bosie' %}
                            {%- render 'country-localization', localPosition: 'FooterCountry' -%}
                            {% render 'icon-caret-down-bosie' %}
                            </div>
                          {%- endform -%}
                        </localization-form>

          </nav>

          {% comment %}
            Rest of the existing code (utility links, localization, social links) remains unchanged
          {% endcomment %}
        </div>
      </div>
    </div>
  </details>
</header-drawer>

