{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div class="column-cta-container-b {% unless section.settings.full_width %} page-width{% endunless %} {% if section.settings.full_width %}content-container--full-width{% endif %} section-{{ section.id }}-padding color-{{ section.settings.color_scheme }}">
  {% for block in section.blocks %}
    <div class="column-cta-column-b columns-{{ section.blocks.size }}">
      {% if section.blocks.size == 1 %}
        {%- if block.settings.image != blank -%}
          <img
            src="{{ block.settings.image | image_url: width: 1440 }}"
            alt="{{ block.settings.title }}"
            height="auto"
            width="auto"
            class="column-cta-image-b"
          >
        {%- else -%}
          {{ 'lifestyle-1' | placeholder_svg_tag }}
        {%- endif -%}
      {% else %}
        {%- if block.settings.image != blank -%}
          <img
            src="{{ block.settings.image | image_url: width: 800 }}"
            alt="{{ block.settings.title }}"
            height="auto"
            width="auto"
            class="column-cta-image-b"
          >
        {%- else -%}
          {{ 'image' | placeholder_svg_tag }}
        {%- endif -%}
      {% endif %}
      <div class="column-cta-overlay" style="opacity: {{ block.settings.overlay_opacity | divided_by: 100.0 }};">
        &nbsp;
      </div>
      <div class="column-cta-wrapper-b">
        <h2>
          {%- assign words = block.settings.title | split: ' ' -%}
          {%- for word in words -%}
            {%- if word == 'any' -%}
              <em>{{ word }}</em>
            {%- else -%}
              {{ word }}
            {%- endif -%}
            {% unless forloop.last %} {% endunless %}
          {%- endfor -%}
        </h2>
        <a href="{{ block.settings.link }}">
          {{ block.settings.link_text }}
        </a>
      </div>
    </div>
  {% endfor %}
</div>

{% schema %}
{
  "name": "Custom Columns Bosies",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "checkbox",
      "id": "full_width",
      "default": false,
      "label": "t:sections.rich-text.settings.full_width.label"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding Top",
      "default": 40
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding Bottom",
      "default": 52
    }
  ],
  "blocks": [
    {
      "type": "column",
      "name": "Column",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Column Title"
        },
        {
          "type": "text",
          "id": "link_text",
          "label": "Link Text",
          "default": "View Collection"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link"
        },
        {
          "type": "range",
          "id": "overlay_opacity",
          "min": 0,
          "max": 100,
          "step": 5,
          "unit": "%",
          "label": "Overlay Opacity",
          "default": 50
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Custom Columns Bosies",
      "category": "Image"
    }
  ],
  "max_blocks": 3
}
{% endschema %}

{% stylesheet %}
  /*Column container */
  .column-cta-container-b {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    @media screen and (min-width: 750px) {
      flex-direction: row;
      flex-wrap: wrap;
    }
  }

  /* For columns 1-6 this decides how much space each column can take up */
  .columns-1 {
    width: 100%;
    height: 780px;
  }

  /* Styles for when there are TWO COLUMNS */
  .columns-2 {
    width: 100%;
    height: calc(100vw * 4 / 3);
    max-height: 780px;
    @media screen and (min-width: 750px) {
      width: calc(50% - 8px);
      height: calc((50vw - 8px) * 4 / 3);
      max-height: 1000px;
    }
  }

  .columns-2.column-cta-column-b h3 {
    @media screen and (min-width: 750px) {
      font-size: 7.2rem;
    }
  }

  /* Styles for when there are THREE COLUMNS */
  .columns-3 {
    width: 100%;
    height: calc(100vw * 4 / 3);
    max-height: 780px;
    @media screen and (min-width: 750px) {
      width: calc(33.33% - 10.66px);
      height: calc((33.33vw - 10.66px) * 4 / 3);
      max-height: 600px;
    }
  }

  .columns-3.column-cta-column-b h3 {
    @media screen and (min-width: 750px) {
      font-size: 4.5rem;
    }
  }

  /* These are the styles for the columns */
  .column-cta-column-b {
    position: relative;
    overflow: hidden;
    margin-bottom: 1rem;
  }

  .column-cta-image-b {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 3s ease;
  }

  .column-cta-column-b:hover .column-cta-image-b {
    transform: scale(1.05);
  }

  .column-cta-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000; /* You can change this color as needed */
  }

  .column-cta-wrapper-b {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 1; /* Ensure content is above the overlay */
  }

  .column-cta-column-b h2 {
    color: #fefff4;
    text-align: center;
    font-family: var(--font-heading-family-light);
    font-size: 4.5rem;
    font-style: normal;
    font-weight: 300;
    line-height: 100%;
    letter-spacing: -0.9px;
    margin: 0 1rem 4rem 1rem;
  }

  .column-cta-column-b a {
    color: #f9f7f4;
    font-family: var(--font-body-family);
    font-size: 1.3rem;
    font-style: normal;
    font-weight: 500;
    line-height: 103.4%;
    letter-spacing: 0.13px;
    text-transform: uppercase;
    padding-bottom: 3.8rem;
    text-decoration: none;
    position: relative; /* Add this */
  }

  .column-cta-column-b a::after {
    content: '';
    position: absolute;
    bottom: 1.8rem; /* Match the padding-bottom */
    left: 0;
    width: 0;
    height: 1px;
    background-color: #f0eeea;
    transition: width 0.3s ease; /* Smooth transition for width */
  }

  .column-cta-column-b a:hover::after {
    width: 100%;
  }

  .column-cta-column-b h2.any-text {
    font-style: italic;
  }
{% endstylesheet %}
