{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div class="custom-section{% unless section.settings.full_width %} page-width{% endunless %}{% if section.settings.full_width %} content-container--full-width{% endif %} section-{{ section.id }}-padding color-{{ section.settings.color_scheme }}">
  <div class="grid-container-b">
    <div class="grid-column-b">
      {% assign first_block = section.blocks | first %}
      {% case first_block.type %}
        {% when 'image' %}
          <div class="image-wrapper-b">
            {%- if first_block.settings.image != blank -%}
              {{
                first_block.settings.image
                | image_url: width: 1500
                | image_tag:
                  loading: 'lazy',
                  width: first_block.settings.image.width,
                  height: first_block.settings.image.height,
                  alt: first_block.settings.image.alt
                | escape
              }}
            {%- else -%}
              {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
            {%- endif -%}
          </div>
        {% when 'content' %}
          <div class="content-wrapper-b">
            {%- if first_block.settings.title != blank -%}
              <h2>{{ first_block.settings.title | escape }}</h2>
            {%- endif -%}
            {%- if first_block.settings.rich_text != blank -%}
              <div class="grid-text-b">
                {{ first_block.settings.rich_text }}
              </div>
            {%- endif -%}
            {%- if first_block.settings.button_link != blank and first_block.settings.button_text != blank -%}
              <a
                href="{{ first_block.settings.button_link }}"
                class="button{% if first_block.settings.button_background %} button--primary{% else %} button--secondary{% endif %}"
              >
                {{ first_block.settings.button_text | escape }}
              </a>
            {%- endif -%}
          </div>
      {% endcase %}
    </div>

    <div class="grid-column-b">
      {% for block in section.blocks offset: 1 %}
        {% case block.type %}
          {% when 'image' %}
            <div class="image-wrapper-b">
              {%- if block.settings.image != blank -%}
                {{
                  block.settings.image
                  | image_url: width: 1500
                  | image_tag:
                    loading: 'lazy',
                    width: block.settings.image.width,
                    height: block.settings.image.height,
                    alt: block.settings.image.alt
                  | escape
                }}
              {%- else -%}
                {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
              {%- endif -%}
            </div>
          {% when 'content' %}
            <div class="content-wrapper-b">
              {%- if block.settings.title != blank -%}
                <h2>{{ block.settings.title | escape }}</h2>
              {%- endif -%}
              {%- if block.settings.rich_text != blank -%}
                <div class="grid-text-b">
                  {{ block.settings.rich_text }}
                </div>
              {%- endif -%}
              {%- if block.settings.button_link != blank and block.settings.button_text != blank -%}
                <a
                  href="{{ block.settings.button_link }}"
                  class="button{% if block.settings.button_background %} button--primary{% else %} button--secondary{% endif %}"
                >
                  {{ block.settings.button_text | escape }}
                </a>
              {%- endif -%}
            </div>
        {% endcase %}
      {% endfor %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Image with Text Bosies",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "checkbox",
      "id": "full_width",
      "default": true,
      "label": "t:sections.grid-text-b.settings.full_width.label"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 40
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 52
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "Image Block",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.image-with-text.blocks.image.settings.image.label"
        }
      ]
    },
    {
      "type": "content",
      "name": "Content Block",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "t:sections.image-with-text.blocks.text.settings.title.label",
          "default": "Enter your title"
        },
        {
          "type": "richtext",
          "id": "rich_text",
          "label": "t:sections.image-with-text.blocks.text.settings.text.label",
          "default": "<p>Enter your text here</p>"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "t:sections.image-with-text.blocks.button.settings.button_link.label"
        },
        {
          "type": "text",
          "id": "button_text",
          "label": "t:sections.image-with-text.blocks.button.settings.button_label.label",
          "default": "Click Here"
        },
        {
          "type": "checkbox",
          "id": "button_background",
          "default": false,
          "label": "t:sections.image-with-text.blocks.button.settings.button_style_secondary.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Image with Text Bosies",
      "blocks": [
        {
          "type": "image"
        },
        {
          "type": "content"
        },
        {
          "type": "image"
        }
      ]
    }
  ],
  "max_blocks": 3
}
{% endschema %}

{% stylesheet %}
  .custom-section .grid-container-b {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .custom-section .grid-column-b {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .custom-section .image-wrapper-b img {
    width: 100%;
    height: auto;
    display: block;
  }

  .custom-section .content-wrapper-b h2 {
    margin: 0;
    font-size: calc(var(--font-heading-scale) * 3.5rem);
  }

  .content-wrapper-b {
    margin: 4rem 0;
  }

  .custom-section .content-wrapper-b .grid-text-b {
    font-size: 1.7rem;
    margin-bottom: 15px;
  }

  .grid-text-b p {
    margin: 0.6rem 0 3.4rem 0;
    color: rgb(var(--color-foreground));
    font-family: var(--font-body-family);
    font-size: 1.7rem;
    font-style: normal;
    font-weight: 300;
    line-height: 1.42;
    letter-spacing: 0.17px;
  }

  @media screen and (min-width: 750px) {
    .custom-section .grid-container-b {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 20px;
    }

    .custom-section .grid-column-b {
      justify-content: space-evenly;
    }

    .content-wrapper-b {
      margin: 0;
    }

    .grid-text-b p {
      margin-right: 17rem;
    }
  }
{% endstylesheet %}
