<link rel="stylesheet" href="{{ 'component-list-menu.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-search.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-menu-drawer.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-cart-notification.css' | asset_url }}" media="print" onload="this.media='all'">

{%- if settings.predictive_search_enabled -%}
  <link rel="stylesheet" href="{{ 'component-price.css' | asset_url }}" media="print" onload="this.media='all'">
{%- endif -%}

{%- if section.settings.menu_type_desktop == 'mega' -%}
  <link rel="stylesheet" href="{{ 'component-mega-menu.css' | asset_url }}" media="print" onload="this.media='all'">
{%- endif -%}


<style>
  header-drawer {
    justify-self: start;
    /* margin-left: -1.2rem; */
  }
  .inverted-navigation {
    background-color: rgba(0, 0, 0, 0);
    transition: all 0.3s ease-in-out;
  }

  .inverted-navigation > * {
    background-color: rgba(0, 0, 0, 0);
    transition: all 0.3s ease-in-out;

  }
  

  .inverted-body {
    position: relative;
    top: -100px;
    margin-bottom: -100px;
  
  }

  @media screen and (min-width: 990px) {
    .inverted-body {
    top: -214px;
    margin-bottom: -214px;
   

  }
  }

  .invert-icons {

  filter: brightness(0) invert(1) !important;

}

  .invert-text {
    color: white !important;
    
  }
  .inverted-body::after {
    background-color: #fff !important;
  }

  .fill-inverted-background {
    position: relative;

    -webkit-appearance: none !important;
      background-color: rgb(249,247,244) !important;
      transition: all 0.3s ease-in-out;
  }
  .fill-inverted-background > * {
    position: relative;
    -webkit-appearance: none !important;
    background-color: rgb(249,247,244) !important;

  }

  {%- if section.settings.sticky_header_type == 'reduce-logo-size' -%}
    .scrolled-past-header .header__heading-logo-wrapper {
      width: 75%;
    }
  {%- endif -%}

  {%- if section.settings.menu_type_desktop != "drawer" -%}
    @media screen and (min-width: 990px) {
      header-drawer {
        display: none;
      }
    }
  {%- endif -%}

  .menu-drawer-container {
    display: flex;
  }
  .sub-menu-ul {
    margin-bottom: 3.2rem;
  }
  .list-menu {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .list-menu--inline {
    display: none;
  }

  @media screen and (min-width: 990px) {
    .list-menu--inline {
      display: flex;
      flex-wrap: wrap;
    }
  }

  summary.list-menu__item {
 /*   padding-right: 2.7rem;*/
  }

  .menu-drawer__menu-item  {
    font-family: var(--font-menu-sub);
    text-transform: uppercase;
    font-size: 1.3rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    line-height: calc(1 + 0.3 / var(--font-body-scale));
    border-bottom: 1px solid #EEECE6;
   
  }
  @media screen and (min-width: 990px) {
    .menu-drawer__menu-item {
    border-bottom: 0px solid #EEECE6;
    }
  }
  .menu-drawer__inner-submenu .menu-drawer__menu-item {
    border-bottom: 0px solid #EEECE6;
    padding: 1.2rem 1.6rem;
 
  }

  .menu-drawer__sub-heading {
    border-top: 1px solid #EEECE6;
    padding: 3.2rem 1.6rem;
    margin: 0;
    font-family: var(--font-menu-sub);
    color: #AFAFAF;
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
    padding-left: 1.6rem;
  }
  .list-menu__item--link {
    text-decoration: none;
    padding-bottom: 1rem;
    padding-top: 1rem;
    line-height: calc(1 + 0.8 / var(--font-body-scale));
  }

  @media screen and (min-width: 750px) {
    .list-menu__item--link {
      padding-bottom: 0.5rem;
      padding-top: 0.5rem;
    }
  }
/* Mobile navigation */

.mobile-localisation-wrapper {
  display: flex;
  align-items:center;
  display: flex;
  justify-items: center;
  justify-content: space-around;
  align-items: center;
  padding: 2.7rem 1.6rem;
}

.mobile-localisation-wrapper .disclosure .localization-form__select {
  padding: 0;
}

.mobile-localisation-wrapper  .globe-language {
  margin-right: 0.95rem;
}

.mobile-localisation-wrapper .caret-down-bosie {
  margin-left: 0.85rem;
  margin-top: -0.3rem;
}

.menu-drawer__submenu-header h1 {
  font-family: var(--font-heading-family-light);
  font-weight: 300;
  text-transform: uppercase;
  padding-left: 1.6rem;
}

.section-heading-sub-title {
  font-size: 3.5rem;
}

.login-button-bosie {
  font-family: var(--font-menu-sub);
  text-decoration: none;
  background-color: #1C2936;
  color: #F9F7F4;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  left: 0;
  height: 5.6rem;
}

.login-button-bosie svg {
  margin-right: 1.2rem;
}

.search-container {
  position: fixed;
  bottom: 66px;
  left: 8px;
  width: calc(100% - 1.6rem);
}
.search-input {
  width: 100%;
  padding: 1.6rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  color: #959A9D;
  background-color: #F3F1EF;
  font-family: var(--font-body-family);
}
.search-input::placeholder {
  font-size: 1.3rem;
}
.search-icon {
  position: absolute;
  right: 1.6rem;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
/* End Mobile navigation */
/* Mega Menu Styles */

.mega-menu-wrapper {
  position: absolute;
  display: none;
  width: -webkit-fill-available;
  width: -moz-available;
  align-content: center;
  justify-content: center;
  left: 0;
  background: rgb(var(--color-background));
  border-top: solid 1px #EEECE6;

}
/* Menu item underline */
.list-menu .header__menu-item:hover::after {
    width: 100%;
}

.list-menu .header__menu-item.inverted-underline:hover::after {
    background-color: #fff !important;
}


 
.mega-menu-list:hover .mega-menu-wrapper{
  display: flex;
   }

   
.mega-menu-row {
  display: flex;
  width: calc(var(--page-width) - 2rem); 
  justify-content: space-between;
  padding: 20px;
}


.mega-menu-column {
  display: flex;
  width: 100%;
  text-transform: capitalize;
}

.menu-item-inner {
  width: calc(50% - 3.7rem);
}

.menu-item-inner h3 {
  margin-bottom: 2.8rem;
  color: #1C2936;
  font-family: "proxima-nova-wide";
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: 122.4%;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  opacity: 0.5;
}

.menu-item-inner ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-item-inner li {
  margin-bottom: 1.8rem;
}

.menu-item-inner a {
  color: #1C2936;
  font-family: "proxima-nova-wide";
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 122.4%;
  letter-spacing: 0.48px;
  text-transform: uppercase;
  text-decoration: none;
}

.menu-item-inner a:hover {
  text-decoration: underline;
}

.image-box {
position: relative;
}

.image-box img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  aspect-ratio: 1 / 1;
}

.image-grid {
  display: flex;
  gap: 2.8rem;
}

.caption-logo {
  position: absolute;
  top: 44%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 17rem;
}
.caption-logo img {
  width: 100%;
}
.caption-text {
  color: #F9F7F4;
  text-align: center;
  text-shadow: 0px 4px 34px rgba(0, 0, 0, 0.40);
  font-family: "StromaLight";
  font-size: 32px;
  font-style: normal;
  font-weight: 300;
  line-height: 103.4%; /* 33.088px */
  letter-spacing: -0.32px;
}

.img-product-meta {
  position: relative;
}

.img-product-meta  img {
  width: 34.3rem;
  height: 31.1rem; 
  object-fit: cover;
  object-position: top;
  aspect-ratio: 1 / 1;
}

.main-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: none;
}

.menu-item {
  position: relative;
  margin-right: 20px;
}

.menu-link {
  text-decoration: none;
  padding: 10px 15px;
  display: block;
}

.mega-menu {
  display: none;
  position: absolute;
  left: 0;
  top: 100%;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  min-width: 200px;
}

.menu-item:hover .mega-menu {
  display: block;
}

.mega-menu-section {
  margin-bottom: 20px;
}

.mega-menu-section h3 {
  margin-top: 0;
  font-size: 1.2em;
}

.mega-menu-section ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.mega-menu-section ul li {
  margin-bottom: 10px;
}

.mega-menu-section ul li a {
  text-decoration: none;
  color: #333;
}

.mega-menu-section ul li a:hover {
  text-decoration: underline;
}


</style>

{%- style -%}
  .header {
    padding: {{ section.settings.padding_top | times: 0.5 | round: 0 }}px 3rem {{ section.settings.padding_bottom | times: 0.5 | round: 0 }}px 3rem;
  }

  .section-header {
    position: sticky; /* This is for fixing a Safari z-index issue. PR #2147 */
    margin-bottom: {{ section.settings.margin_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-header {
      margin-bottom: {{ section.settings.margin_bottom }}px;
    }
  }

  @media screen and (min-width: 990px) {
    .header {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<script src="{{ 'cart-notification.js' | asset_url }}" defer="defer"></script>

<svg xmlns="http://www.w3.org/2000/svg" class="hidden">
  <symbol id="icon-search" viewbox="0 0 18 19" fill="none">
    <path fill-rule="evenodd" clip-rule="evenodd" d="M11.03 11.68A5.784 5.784 0 112.85 3.5a5.784 5.784 0 018.18 8.18zm.26 1.12a6.78 6.78 0 11.72-.7l5.4 5.4a.5.5 0 11-.71.7l-5.41-5.4z" fill="currentColor"/>
  </symbol>

  <symbol id="icon-reset" class="icon icon-close"  fill="none" viewBox="0 0 18 18" stroke="currentColor">
    <circle r="8.5" cy="9" cx="9" stroke-opacity="0.2"/>
    <path d="M6.82972 6.82915L1.17193 1.17097" stroke-linecap="round" stroke-linejoin="round" transform="translate(5 5)"/>
    <path d="M1.22896 6.88502L6.77288 1.11523" stroke-linecap="round" stroke-linejoin="round" transform="translate(5 5)"/>
  </symbol>

  <symbol id="icon-close" class="icon icon-close" fill="none" viewBox="0 0 18 17">
    <path d="M.865 15.978a.5.5 0 00.707.707l7.433-7.431 7.579 7.282a.501.501 0 00.846-.37.5.5 0 00-.153-.351L9.712 8.546l7.417-7.416a.5.5 0 10-.707-.708L8.991 7.853 1.413.573a.5.5 0 10-.693.72l7.563 7.268-7.418 7.417z" fill="currentColor">
  </symbol>
</svg>

{%- liquid
  for block in section.blocks
    if block.type == '@app'
      assign has_app_block = true
    endif
  endfor
-%}

<{% if section.settings.sticky_header_type != 'none' %}sticky-header data-sticky-type="{{ section.settings.sticky_header_type }}"{% else %}div{% endif %} class="header-wrapper color-{{ section.settings.color_scheme }} gradient{% if section.settings.show_line_separator %} header-wrapper--border-bottom{% endif %}">
  {%- liquid
    assign social_links = false
    assign localization_forms = false

    if settings.social_twitter_link != blank or settings.social_facebook_link != blank or settings.social_pinterest_link != blank or settings.social_instagram_link != blank or settings.social_youtube_link != blank or settings.social_vimeo_link != blank or settings.social_tiktok_link != blank or settings.social_tumblr_link != blank or settings.social_snapchat_link != blank
      assign social_links = true
    endif

    if localization.available_countries.size > 1 and section.settings.enable_country_selector or section.settings.enable_language_selector and localization.available_languages.size > 1
      assign localization_forms = true
    endif
    -%}
    <div class="header-wrapper-bosie {% if template.name == 'index' %} inverted-navigation {% endif %}">
  <header id="header-id" class="header header--{{ section.settings.logo_position }} header--mobile-{{ section.settings.mobile_logo_position }} page-width{% if section.settings.menu_type_desktop == 'drawer' %} drawer-menu{% endif %}{% if section.settings.menu != blank %} header--has-menu{% endif %}{% if has_app_block %} header--has-app{% endif %}{% if social_links %} header--has-social{% endif %}{% if shop.customer_accounts_enabled %} header--has-account{% endif %}{% if localization_forms %} header--has-localizations{% endif %}">
    {%- liquid
      if section.settings.menu != blank
        render 'header-drawer'
      endif

      if section.settings.logo_position == 'top-center' or section.settings.menu == blank
        render 'header-search', input_id: 'Search-In-Modal-1'
      endif
    -%}

    {%- if section.settings.logo_position != 'middle-center' -%}
      {%- if request.page_type == 'index' -%}
        <h1 class="header__heading">
      {%- endif -%}
          <a href="{{ routes.root_url }}" class="header__heading-link link link--text focus-inset">
            {%- if settings.logo != blank -%}
              <div class="header__heading-logo-wrapper">
                {%- assign logo_alt = settings.logo.alt | default: shop.name | escape -%}
                {%- assign logo_height = settings.logo_width | divided_by: settings.logo.aspect_ratio -%}
                {% capture sizes %}(max-width: {{ settings.logo_width | times: 2 }}px) 50vw, {{ settings.logo_width }}px{% endcapture %}
                {% capture widths %}{{ settings.logo_width }}, {{ settings.logo_width | times: 1.5 | round }}, {{ settings.logo_width | times: 2 }}{% endcapture %}
                {{ settings.logo | image_url: width: 600 | image_tag:
                  class: 'header__heading-logo motion-reduce',
                  widths: widths,
                  height: logo_height,
                  width: settings.logo_width,
                  alt: logo_alt,
                  sizes: sizes,
                  preload: true
                }}
              </div>
            {%- else -%}
              <span class="h2">{{ shop.name }}</span>
            {%- endif -%}
          </a>
      {%- if request.page_type == 'index' -%}
        </h1>
      {%- endif -%}
    {%- endif -%}


    {%- if section.settings.logo_position == 'middle-center' -%}
      {%- if request.page_type == 'index' -%}
        <h1 class="header__heading">
      {%- endif -%}
          <a href="{{ routes.root_url }}" class="header__heading-link link link--text focus-inset">
            {%- if settings.logo != blank -%}
              <div class="header__heading-logo-wrapper">
                {%- assign logo_alt = settings.logo.alt | default: shop.name | escape -%}
                {%- assign logo_height = settings.logo_width | divided_by: settings.logo.aspect_ratio -%}
                {% capture sizes %}(min-width: 750px) {{ settings.logo_width }}px, 50vw{% endcapture %}
                {% capture widths %}{{ settings.logo_width }}, {{ settings.logo_width | times: 1.5 | round }}, {{ settings.logo_width | times: 2 }}{% endcapture %}
                {{ settings.logo | image_url: width: 600 | image_tag:
                  class: 'header__heading-logo',
                  widths: widths,
                  height: logo_height,
                  width: settings.logo_width,
                  alt: logo_alt,
                  sizes: sizes,
                  preload: true
                }}
              </div>
            {%- else -%}
              <span class="h2">{{ shop.name }}</span>
            {%- endif -%}
          </a>
      {%- if request.page_type == 'index' -%}
        </h1>
      {%- endif -%}
    {%- endif -%}
    <div class="header__icons{% if section.settings.enable_country_selector or section.settings.enable_language_selector %} header__icons--localization header-localization{% endif %}">
      <div class="desktop-localization-wrapper">
        {%- if section.settings.enable_country_selector and localization.available_countries.size > 1 -%}
          <localization-form class="small-hide medium-hide" data-prevent-hide>
            {%- form 'localization', id: 'HeaderCountryForm', class: 'localization-form' -%}
              <div>
                <h2 class="visually-hidden" id="HeaderCountryLabel">{{ 'localization.country_label' | t }}</h2>
                {%- render 'country-localization', localPosition: 'HeaderCountry' -%}
              </div>
            {%- endform -%}
          </localization-form>
        {% endif %}

        {%- if section.settings.enable_language_selector and localization.available_languages.size > 1 -%}
          <localization-form class="small-hide medium-hide" data-prevent-hide>
            {%- form 'localization', id: 'HeaderLanguageForm', class: 'localization-form' -%}
              <div>
                <h2 class="visually-hidden" id="HeaderLanguageLabel">{{ 'localization.language_label' | t }}</h2>
                {%- render 'language-localization', localPosition: 'HeaderLanguage' -%}
              </div>
            {%- endform -%}
          </localization-form>
        {%- endif -%}
      </div>
      {% render 'header-search', input_id: 'Search-In-Modal' %}

      {%- if shop.customer_accounts_enabled -%}
        <a href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.account_login_url }}{%- endif -%}" class="header__icon header__icon--account link focus-inset{% if section.settings.menu != blank %} small-hide{% endif %}">
          {%- if section.settings.enable_customer_avatar -%}
            <account-icon>
              {%- if customer and customer.has_avatar? -%}
                {{ customer | avatar }}
              {%- else -%}
                {% render 'icon-account' %}
              {%- endif -%}
            </account-icon>
          {%- else -%}
            {% render 'icon-account' %}
          {%- endif -%}
          <span class="visually-hidden">
            {%- liquid
              if customer
                echo 'customer.account_fallback' | t
              else
                echo 'customer.log_in' | t
              endif
            -%}
          </span>
        </a>
      {%- endif -%}

      {%- for block in section.blocks -%}
        {%- case block.type -%}
          {%- when '@app' -%}
            {% render block %}
        {%- endcase -%}
      {%- endfor -%}

      <a href="{{ routes.cart_url }}" class="header__icon header__icon--cart link focus-inset" id="cart-icon-bubble">
        {%- liquid
          if cart == empty
            render 'icon-cart-empty'
          else
            render 'icon-cart'
          endif
        -%}
        <span class="visually-hidden">{{ 'templates.cart.cart' | t }}</span>
        {%- if cart != empty -%}
          <div class="cart-count-bubble">
            {%- if cart.item_count < 100 -%}
              <span aria-hidden="true">{{ cart.item_count }}</span>
            {%- endif -%}
            <span class="visually-hidden">{{ 'sections.header.cart_count' | t: count: cart.item_count }}</span>
          </div>
        {%- endif -%}
      </a>
    </div>
  </header>
  
    {%- liquid
      if section.settings.menu != blank
        if section.settings.menu_type_desktop == 'dropdown'
          render 'header-dropdown-menu'
        elsif section.settings.menu_type_desktop != 'drawer'
          render 'header-mega-menu'
        endif
      endif
    %}
  </div>

</{% if section.settings.sticky_header_type != 'none' %}sticky-header{% else %}div{% endif %}>

{%- if settings.cart_type == "notification" -%}
  {%- render 'cart-notification', color_scheme: section.settings.color_scheme, desktop_menu_type: section.settings.menu_type_desktop -%}
{%- endif -%}

{% javascript %}
  class StickyHeader extends HTMLElement {
    constructor() {
      super();
    }

    connectedCallback() {
      this.header = document.querySelector('.section-header');
      this.headerIsAlwaysSticky = this.getAttribute('data-sticky-type') === 'always' || this.getAttribute('data-sticky-type') === 'reduce-logo-size';
      this.headerBounds = {};

      this.setHeaderHeight();

      window.matchMedia('(max-width: 990px)').addEventListener('change', this.setHeaderHeight.bind(this));

      if (this.headerIsAlwaysSticky) {
        this.header.classList.add('shopify-section-header-sticky');
      };

      this.currentScrollTop = 0;
      this.preventReveal = false;
      this.predictiveSearch = this.querySelector('predictive-search');

      this.onScrollHandler = this.onScroll.bind(this);
      this.hideHeaderOnScrollUp = () => this.preventReveal = true;

      this.addEventListener('preventHeaderReveal', this.hideHeaderOnScrollUp);
      window.addEventListener('scroll', this.onScrollHandler, false);

      this.createObserver();
    }

    setHeaderHeight() {
      document.documentElement.style.setProperty('--header-height', `${this.header.offsetHeight}px`);
    }

    disconnectedCallback() {
      this.removeEventListener('preventHeaderReveal', this.hideHeaderOnScrollUp);
      window.removeEventListener('scroll', this.onScrollHandler);
    }

    createObserver() {
      let observer = new IntersectionObserver((entries, observer) => {
        this.headerBounds = entries[0].intersectionRect;
        observer.disconnect();
      });

      observer.observe(this.header);
    }

    onScroll() {
      const scrollTop = window.pageYOffset || document.documentElement.scrollTop;

      if (this.predictiveSearch && this.predictiveSearch.isOpen) return;

      if (scrollTop > this.currentScrollTop && scrollTop > this.headerBounds.bottom) {
        this.header.classList.add('scrolled-past-header');
        if (this.preventHide) return;
        requestAnimationFrame(this.hide.bind(this));
      } else if (scrollTop < this.currentScrollTop && scrollTop > this.headerBounds.bottom) {
        this.header.classList.add('scrolled-past-header');
        if (!this.preventReveal) {
          requestAnimationFrame(this.reveal.bind(this));
        } else {
          window.clearTimeout(this.isScrolling);

          this.isScrolling = setTimeout(() => {
            this.preventReveal = false;
          }, 66);

          requestAnimationFrame(this.hide.bind(this));
        }
      } else if (scrollTop <= this.headerBounds.top) {
        this.header.classList.remove('scrolled-past-header');
        requestAnimationFrame(this.reset.bind(this));
        invertNav();
      }

      this.currentScrollTop = scrollTop;
    }

    hide() {
      if (this.headerIsAlwaysSticky) return;
      this.header.classList.add('shopify-section-header-hidden', 'shopify-section-header-sticky');
      this.closeMenuDisclosure();
                  this.closeSearchModal();
                  invertNav();
    }

    reveal() {
      if (this.headerIsAlwaysSticky) return;
      this.header.classList.add('shopify-section-header-sticky', 'animate');
                  this.header.classList.remove('shopify-section-header-hidden');
                  removeInvertedNav();
    }

    reset() {
      if (this.headerIsAlwaysSticky) return;
      this.header.classList.remove('shopify-section-header-hidden', 'shopify-section-header-sticky', 'animate');
    }

    closeMenuDisclosure() {
      this.disclosures = this.disclosures || this.header.querySelectorAll('header-menu');
      this.disclosures.forEach(disclosure => disclosure.close());
    }

    closeSearchModal() {
      this.searchModal = this.searchModal || this.header.querySelector('details-modal');
      this.searchModal.close(false);
    }
  }

  customElements.define('sticky-header', StickyHeader);

/*
Navigation Inversion
*/


   // Set the initial state of the navigation on home page 
  //if inverted-navigation class is present, make navigation transparent
  if (document.querySelector('.inverted-navigation')) {
    setInvertedNavigation(true);
  }

  function setInvertedNavigation(isInverted) {
    const elements = {
      mainContent: document.getElementById('MainContent'),
      headerWrapper: document.querySelector('.header-wrapper'),
      searchText: document.querySelector('.search-text-b'),
      menuItems: document.querySelectorAll('.header__menu-item'),
      headerLogo: document.querySelector('.header__heading-logo'),
      headerIcons: document.querySelectorAll('.header__icon svg'),
      accountIcon: document.querySelector('.icon-account'),
      cartIcon: document.querySelector('.icon-cart'),
      chevronNavs: document.querySelectorAll('.chevron-nav'),
      headerWrapperBosie: document.querySelector('.header-wrapper-bosie')
    };

    const classActions = {
      add: ['inverted-body', 'inverted-navigation', 'invert-text', 'invert-icons', 'inverted-underline'],
      remove: ['fill-inverted-background']
    };

    if (isInverted) {
      elements.mainContent.classList.add(classActions.add[0]);
      elements.headerWrapper.classList.add(classActions.add[1]);
      elements.searchText.classList.add(classActions.add[2]);
      elements.menuItems.forEach(item => item.classList.add(classActions.add[2]));
      addClassToSVG(elements.headerLogo, classActions.add[3]);
      elements.headerIcons.forEach(icon => addClassToSVG(icon, classActions.add[3]));
      elements.menuItems[0].classList.add(classActions.add[4]);
      addClassToSVG(elements.accountIcon, classActions.add[3]);
      addClassToSVG(elements.cartIcon, classActions.add[3]);
      elements.chevronNavs.forEach(icon => addClassToSVG(icon, classActions.add[3]));
      elements.headerWrapperBosie.classList.remove(classActions.remove[0]);
    } else {
      elements.mainContent.classList.remove(classActions.add[0]); 
      elements.headerWrapper.classList.remove(classActions.add[1]);
      elements.searchText.classList.remove(classActions.add[2]);
      elements.menuItems.forEach(item => item.classList.remove(classActions.add[2]));
      removeClassFromSVG(elements.headerLogo, classActions.add[3]);
      elements.headerIcons.forEach(icon => removeClassFromSVG(icon, classActions.add[3]));
      elements.menuItems[0].classList.remove(classActions.add[4]);
      removeClassFromSVG(elements.accountIcon, classActions.add[3]);
      removeClassFromSVG(elements.cartIcon, classActions.add[3]);
      elements.chevronNavs.forEach(icon => removeClassFromSVG(icon, classActions.add[3]));
      // elements.headerWrapperBosie.classList.add(classActions.remove[0]);
    }
  }
    // Make setInvertedNavigation available globally
    window.setInvertedNavigation = setInvertedNavigation;


  function addClassToSVG(element, className) {
    if (element && element.classList) {
      element.classList.add(className);
    } else if (element && element.setAttribute) {
      const classes = (element.getAttribute('class') || '').split(' ');
      if (!classes.includes(className)) {
        classes.push(className);
        element.setAttribute('class', classes.join(' '));
      }
    }
  }

  function removeClassFromSVG(element, className) {
    if (element && element.classList) {
      element.classList.remove(className);
    } else if (element && element.setAttribute) {
      const classes = (element.getAttribute('class') || '').split(' ');
      const index = classes.indexOf(className);
      if (index !== -1) {
        classes.splice(index, 1);
        element.setAttribute('class', classes.join(' '));
      }
    }
  }

  function invertNav() {
    if (document.querySelector('.inverted-navigation')) {
      setInvertedNavigation(true);
    }
  }

  // Navigation hover set to remove inverted navigation
  let navigationHover = false;
  function setNavigationHover() {
    navigationHover = true;
    console.log('nav hover set to: ' + navigationHover);
    setInvertedNavigation(false);
    document.getElementById('MainContent').classList.add('fill-inverted-background');
  }
  function removeNavigationHover() {
    navigationHover = false;
    console.log('nav hover set to: ' + navigationHover);
    
  }
  
  if (navigationHover) {
    removeInvertedNav();
  }

  function removeInvertedNav() {
    if (document.querySelector('.inverted-navigation')) {
      setInvertedNavigation(false);
    }
    
  }

  // Make setInvertedNavigation available globally
  window.setInvertedNavigation = setInvertedNavigation;

  // Hover on inverted navigation set to remove inverted navigation
  document.querySelector('.header-wrapper-bosie').addEventListener('mouseover', setNavigationHover);
  document.querySelector('.header-wrapper-bosie').addEventListener('mouseout', removeNavigationHover);

 

{% endjavascript %}

<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Organization",
    "name": {{ shop.name | json }},
    {% if settings.logo %}
      "logo": {{ settings.logo | image_url: width: 500 | prepend: "https:" | json }},
    {% endif %}
    "sameAs": [
      {{ settings.social_twitter_link | json }},
      {{ settings.social_facebook_link | json }},
      {{ settings.social_pinterest_link | json }},
      {{ settings.social_instagram_link | json }},
      {{ settings.social_tiktok_link | json }},
      {{ settings.social_tumblr_link | json }},
      {{ settings.social_snapchat_link | json }},
      {{ settings.social_youtube_link | json }},
      {{ settings.social_vimeo_link | json }}
    ],
    "url": {{ request.origin | append: page.url | json }}
  }
</script>

{%- if request.page_type == 'index' -%}
  {% assign potential_action_target = request.origin | append: routes.search_url | append: "?q={search_term_string}" %}
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "name": {{ shop.name | json }},
      "potentialAction": {
        "@type": "SearchAction",
        "target": {{ potential_action_target | json }},
        "query-input": "required name=search_term_string"
      },
      "url": {{ request.origin | append: page.url | json }}
    }
  </script>
{%- endif -%}

{% schema %}
{
  "name": "t:sections.header.name",
  "class": "section-header",
  "max_blocks": 6,
  "settings": [
    {
      "type": "select",
      "id": "logo_position",
      "options": [
        {
          "value": "top-left",
          "label": "t:sections.header.settings.logo_position.options__2.label"
        },
        {
          "value": "top-center",
          "label": "t:sections.header.settings.logo_position.options__3.label"
        },
        {
          "value": "middle-left",
          "label": "t:sections.header.settings.logo_position.options__1.label"
        },
        {
          "value": "middle-center",
          "label": "t:sections.header.settings.logo_position.options__4.label"
        }
      ],
      "default": "middle-left",
      "label": "t:sections.header.settings.logo_position.label",
      "info": "t:sections.header.settings.logo_help.content"
    },
    {
      "type": "link_list",
      "id": "menu",
      "default": "main-menu",
      "label": "t:sections.header.settings.menu.label"
    },
    {
      "type": "select",
      "id": "menu_type_desktop",
      "options": [
        {
          "value": "dropdown",
          "label": "t:sections.header.settings.menu_type_desktop.options__1.label"
        },
        {
          "value": "mega",
          "label": "t:sections.header.settings.menu_type_desktop.options__2.label"
        },
        {
          "value": "drawer",
          "label": "t:sections.header.settings.menu_type_desktop.options__3.label"
        }
      ],
      "default": "dropdown",
      "label": "t:sections.header.settings.menu_type_desktop.label",
      "info": "t:sections.header.settings.menu_type_desktop.info"
    },
    {
      "type": "select",
      "id": "sticky_header_type",
      "options": [
        {
          "value": "none",
          "label": "t:sections.header.settings.sticky_header_type.options__1.label"
        },
        {
          "value": "on-scroll-up",
          "label": "t:sections.header.settings.sticky_header_type.options__2.label"
        },
        {
          "value": "always",
          "label": "t:sections.header.settings.sticky_header_type.options__3.label"
        },
        {
          "value": "reduce-logo-size",
          "label": "t:sections.header.settings.sticky_header_type.options__4.label"
        }
      ],
      "default": "on-scroll-up",
      "label": "t:sections.header.settings.sticky_header_type.label"
    },
    {
      "type": "checkbox",
      "id": "show_line_separator",
      "default": true,
      "label": "t:sections.header.settings.show_line_separator.label"
    },
    {
      "type": "header",
      "content": "t:sections.header.settings.header__1.content"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "color_scheme",
      "id": "menu_color_scheme",
      "label": "t:sections.header.settings.menu_color_scheme.label",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "t:sections.header.settings.header__3.content",
      "info": "t:sections.header.settings.header__4.info"
    },
    {
      "type": "checkbox",
      "id": "enable_country_selector",
      "default": true,
      "label": "t:sections.header.settings.enable_country_selector.label"
    },
    {
      "type": "header",
      "content": "t:sections.header.settings.header__5.content",
      "info": "t:sections.header.settings.header__6.info"
    },
    {
      "type": "checkbox",
      "id": "enable_language_selector",
      "default": true,
      "label": "t:sections.header.settings.enable_language_selector.label"
    },
    {
      "type": "header",
      "content": "t:sections.header.settings.header__7.content",
      "info": "t:sections.header.settings.header__7.info"
    },
    {
      "type": "checkbox",
      "id": "enable_customer_avatar",
      "default": true,
      "label": "t:sections.header.settings.enable_customer_avatar.label",
      "info": "t:sections.header.settings.enable_customer_avatar.info"
    },
    {
      "type": "header",
      "content": "t:sections.header.settings.mobile_layout.content"
    },
    {
      "type": "select",
      "id": "mobile_logo_position",
      "options": [
        {
          "value": "center",
          "label": "t:sections.header.settings.mobile_logo_position.options__1.label"
        },
        {
          "value": "left",
          "label": "t:sections.header.settings.mobile_logo_position.options__2.label"
        }
      ],
      "default": "center",
      "label": "t:sections.header.settings.mobile_logo_position.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.spacing"
    },
    {
      "type": "range",
      "id": "margin_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.header.settings.margin_bottom.label",
      "default": 0
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 36,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 20
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 36,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 20
    }
  ],
  "blocks": [
      {
        "type": "@app",
      },
      {
        "type" : "menu",
        "name": "Menu",
        "settings": [
          {
            "type": "text",
            "id": "title", 
            "label": "Menu Name"
          },
          {
            "type": "link_list",
            "id": "linklist",
            "label": "Please select menu"
          },
          {
            "type": "image_picker",
            "id": "image_1",
            "label": "First Image"
          },
          {
            "type": "image_picker",
            "id": "logo_1",
            "label": "First Logo (if using)"
          },
          {
            "type": "text",
            "id": "caption_1",
            "label": "First Image Text (if using)"
          },
          {
            "type": "url",
            "id": "image_link_1",
            "label": "First Image Link"
          },
          {
            "type": "image_picker",
            "id": "image_2",
            "label": "Second Image"
          },
          {
            "type": "image_picker",
            "id": "logo_2",
            "label": "Second Logo (if using)"
          },
          {
            "type": "text",
            "id": "caption_2",
            "label": "Second Image Text (if using)"
          },
          {
            "type": "url",
            "id": "image_link_2",
            "label": "Second Image Link"
          },
      ]
    }
  ]
}
{% endschema %}
