{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<section class="meet-the-team page-width section-{{ section.id }}-padding color-{{ section.settings.color_scheme }}">
  <h2>{{ section.settings.title }}</h2>
  <div class="description">
    {{ section.settings.description }}
  </div>
  <div class="team-members">
    {% for block in section.blocks %}
      {% if block.type == 'team_member' %}
        <div class="team-member" {{ block.shopify_attributes }}>
          <div class="image-container">
            {% if block.settings.image %}
              {{ block.settings.image | image_url: width: 300 | image_tag: loading: 'lazy', alt: block.settings.name }}
            {% else %}
              {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
            {% endif %}
          </div>
          <h3>{{ block.settings.name }}</h3>
          <p>{{ block.settings.position }}</p>
        </div>
      {% endif %}
    {% endfor %}
  </div>
</section>

{% schema %}
{
  "name": "Meet the Team",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Section Title",
      "default": "Meet the Team"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "Section Description",
      "default": "<p>Provide your customers with an introduction to your team.</p>"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 40
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 52
    }
  ],
  "blocks": [
    {
      "type": "team_member",
      "name": "Team Member",
      "limit": 8,
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Member Image"
        },
        {
          "type": "text",
          "id": "name",
          "label": "Member Name",
          "default": "John Doe"
        },
        {
          "type": "text",
          "id": "position",
          "label": "Member Position",
          "default": "Job Title"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Meet the Team",
      "blocks": [
        {
          "type": "team_member"
        },
        {
          "type": "team_member"
        },
        {
          "type": "team_member"
        },
        {
          "type": "team_member"
        }
      ]
    }
  ]
}
{% endschema %}

<style>
  .meet-the-team {
  }

  .meet-the-team h2 {
    text-align: center;
    text-align: center;
    font-family: var(--font-heading-family-light);
    font-size: 6.2rem;
    font-style: normal;
    font-weight: 300;
    line-height: 103.4%; /* 64.108px */
    letter-spacing: -0.62px;
    margin-bottom: 2.4rem;
  }

  .meet-the-team .description {
    text-align: center;
    font-family: var(--font-body-family);
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 21px */
    margin: 0 2rem 8rem 2rem;
  }

  .team-members {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: -1rem; /* Negative margin to counteract item margins */
  }

  .team-member {
    flex-basis: calc(50% - 2rem);
    margin: 1rem;
  }

  .team-member .image-container {
    width: 100%;
    height: 0;
    padding-bottom: 133.33%; /* 3:4 aspect ratio (75% * 4/3) */
    position: relative;
    overflow: hidden;
  }

  .team-member img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .team-member h2 {
    font-size: 4rem;
    font-style: normal;
    font-weight: 300;
    line-height: 120%; /* 21.6px */
    letter-spacing: -0.36px;
    margin: 0.8rem 0;
  }

  .team-member p {
    font-family: var(--font-heading-family-light);
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 300;
    line-height: 120%; /* 16.8px */
    letter-spacing: -0.28px;
  }

  @media (min-width: 750px) {
    .team-member {
      flex-basis: calc(25% - 2rem);
      margin: 1rem;
    }
    .team-member img {
      max-height: none; /* Remove the max-height constraint */
    }
    .team-member .image-container {
      padding-bottom: 133.33%; /* Keep the same aspect ratio for larger screens */
    }
    .meet-the-team .description {
      margin: 0 10rem 8rem 10rem;
    }
    .meet-the-team h2 {
      font-size: 6.2rem;
    }
  }

  @media (min-width: 990px) {
    .team-members {
      justify-content: flex-start;
    }
    .meet-the-team .description {
      margin: 0 30rem 12rem 30rem;
    }
  }
</style>
